@import "mixins";

@import "fonts";

//<Подключение шрифтов через Google fonts>===========================================================================
@import url('https://fonts.googleapis.com/css?family=PT+Sans:wght@400,700&display=swap&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:wght@400,700&display=swap&subset=cyrillic-ext');



//<Шрифт по умолчанию>===============================================================================================
$fontFamily: "PT Sans";
//</Шрифт по умолчанию>==============================================================================================

//<Переменные>=======================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1140;
$md1: $maxWidthContainer+12;
$md2: 991.98;
$md3:767.98;
$md4:479.98;
//</Переменные>=======================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>========================================================================================
@import "nullstyle";

body {
    font-family: $fontFamily;
    background: #000000;

    &._lock {
        overflow: hidden;
    }
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=======================================================================================

//<ОБОЛОЧКА>==========================================================================================================
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &._load {}

}

//</ОБОЛОЧКА>========================================================================================================

//<ОСНОВНАЯ СЕТКА>===================================================================================================
._container {
    max-width: $maxWidthContainer+px;
    padding: 0 15px;
    margin: 0 auto;
}

//</ОСНОВНАЯ СЕТКА>==================================================================================================

@import "header";
@import "ui";
@import "footer";

.page {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home {
    min-height: 100vh;
    position: relative;
    display: flex;

    &__back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__container {
        padding-top: 124px;
        width: 100%;
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__content {
        @include responsive-size(padding-top, 100, 45, 1800);
        @include responsive-size(padding-bottom, 100, 45, 1800);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__logo {
        @include responsive-size(margin-bottom, 80, 50, 1800);
        transform: scale(0);
        opacity: 0;
        transition: all 0.8s ease 0s;


        &._active {
            transform: scale(1);
            opacity: 1;
        }
    }

    &__text {
        line-height: 150%;
        text-transform: uppercase;
        color: #FFFFFF;
        max-width: 730px;
        @include responsive-size(font-size, 16, 14, 1800);

        transform: translate(0px, 100%);
        opacity: 0;
        transition: all 0.8s ease 0s;

        &._active {
            transform: translate(0, 0);
            opacity: 1;
        }
    }
}

.logo-home {
    @include responsive-size(width, 320, 160, 1800);
    @include responsive-size(height, 320, 160, 1800);

    border: 4px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__top {
        font-family: 'PostNoBillsJaffna-Bold';
        @include responsive-size(font-size, 64, 32, 1800);
        line-height: 1.5;
        color: #FFFFFF;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: 10px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #ffff;
        }
    }

    &__bottom {
        @include responsive-size(font-size, 22, 16, 1800);
        line-height: 1.27;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}

//====================================================================================================================

.season {

    &__row {
        display: flex;

        @media (max-width:$md2+px) {
            flex-direction: column;
        }
    }

    &__column {
        flex: 1 0 54%;

        @media (max-width:$md2+px) {
            flex: 1 1 100%;
        }
    }

    &__information {
        @include responsive-size(padding-top, 93, 70, $maxWidthContainer);
        @include responsive-size(padding-bottom, 93, 70, $maxWidthContainer);
        @include responsive-size(padding-left, 80, 15, 1800);
        @include responsive-size(padding-right, 80, 15, 1800);

    }

    &__title {
        margin-bottom: 50px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
        gap: 50px;

        @media (max-width:$md2+px) {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            @include responsive-size(gap, 50, 30, $md2);
        }
    }

    &__item {}

    &__back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    }

    &__content {
        position: relative;
        z-index: 2;
        padding-bottom: 100px;

        @media (max-width:$md2+px) {
            padding: 80px 0;
        }

    }

    &__colection-title {
        margin-bottom: 30px;
    }

    &__link {}
}

.item-product {
    display: flex;
    flex-direction: column;
    height: 100%;

    @media (any-hover:hover) {
        &:hover {
            .item-product__img-container {
                background: #576268;
            }

            .item-product__name {
                color: #ccc5c5;
            }

            .item-product__price {
                color: #ababab;
            }
        }
    }

    &__img-container {
        background: #191B1C;
        padding: 55px 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include responsive-size(margin-bottom, 25, 10, $maxWidthContainer);
        transition: all 0.3s ease 0s;
    }

    &__img {
        @include responsive-size(width, 215, 80, 1600);
        @include responsive-size(height, 215, 80, 1600);

        @media (max-width:$md2+px) {
            width: 215px;
            height: 215px;
        }

    }

    &__name {
        font-family: 'Playfair Display';
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        margin-bottom: 10px;
        transition: all 0.3s ease 0s;
        flex: 1 0 auto;
        display: flex;
        align-items: center;
    }

    &__price {
        font-family: 'Playfair Display';
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #D0D0D0;
        transition: all 0.3s ease 0s;

    }
}

//====================================================================================================================

.collection {

    &__row {
        display: flex;

        @media (max-width:$md3+px) {
            flex-direction: column;
        }
    }

    &__column {
        flex: 1 0 54%;
    }

    &__back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        @media (max-width:$md3+px) {
            display: none;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 15px;
        @include responsive-size(padding-top, 100, 60, $maxWidthContainer);
        @include responsive-size(padding-bottom, 100, 40, $maxWidthContainer);
    }

    &__title {
        @include responsive-size(margin-bottom, 40, 25, $maxWidthContainer);
    }

    &__text {
        max-width: 471px;
        @include responsive-size(margin-bottom, 60, 40, $maxWidthContainer);
    }

    &__link {}
}

//====================================================================================================================

.income {
    @include responsive-size(padding-top, 120, 30, $maxWidthContainer);
    @include responsive-size(padding-bottom, 150, 70, $maxWidthContainer);

    &__container {}

    &__title {
        @include responsive-size(margin-bottom, 80, 40, $maxWidthContainer);
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        column-gap: 23px;
        row-gap: 40px;
    }

    &__item {}
}

//====================================================================================================================

.brands {
    padding: 60px 0 74px;
    background: #0F0F0F;
    @include responsive-size(padding-bottom, 74, 60, $maxWidthContainer);

    &__container {}

    &__title {
        @include responsive-size(margin-bottom, 40, 25, $maxWidthContainer);
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
        column-gap: 30px;
        @include responsive-size(row-gap, 30, 10, $maxWidthContainer);
    }

    &__item {
        position: relative;
        padding-bottom: 36%;
        transition: all 0.3s ease 0s;

        @media (any-hover:hover) {
            &:hover {
                transform: scale(1.1);
            }
        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}